/*--------home--------*/

#home{
  background:url('../../media/images/header_bg.jpg') repeat-x 0 -60px #EFEFEF;
  min-width:900px;
  
}
#home #header{
  height:250px;
  max-width:1400px;
  margin:0 auto;
  position:relative;
}
#header .header-hl{
  position:absolute;
  left:39%;
  top:0;
}
#merchantLinkContainer{
  height: 200px;
  left: 0;
  overflow: hidden;
  position: absolute;
  top: 0;
  width: 100%;
}
#phoneCornerContainer
{
  z-index: 999;
  left: -70px;
  overflow: hidden;
  position: fixed;
  bottom: 40px;
  padding: 5px 50px;
  background-image: linear-gradient(bottom, #53C4DB 0%, #7BD9EE 81%);
  background-image: -o-linear-gradient(bottom, #53C4DB 0%, #7BD9EE 81%);
  background-image: -moz-linear-gradient(bottom, #53C4DB 0%, #7BD9EE 81%);
  background-image: -webkit-linear-gradient(bottom, #53C4DB 0%, #7BD9EE 81%);
  background-image: -ms-linear-gradient(bottom, #53C4DB 0%, #7BD9EE 81%);
  
  font-size:90%;
  -moz-transform: rotate(45deg) translate(0px, 0px);
  -webkit-transform: rotate(45deg) translate(0px,0px);
  -o-transform: rotate(45deg) translate(0px, 0px);
  -ms-transform: rotate(45deg) translate(0px, 0px);
  transform: rotate(45deg) translate(0px, 0px);
}
#phoneCornerContainer .phone-number
{
  font-size:130%;
  font-weight:bold;
}
#merchantLink{
  -moz-transform: translateX(85px) translateY(-30px) rotate(-45deg);
  -moz-transform-origin: left top;
  -webkit-transform: translateX(85px) translateY(-30px) rotate(-45deg);
  -webkit-transform-origin: left top;
  background-image: linear-gradient(bottom, rgb(153,39,22) 0%, rgb(255,38,0) 56%);
  background-image: -o-linear-gradient(bottom, rgb(153,39,22) 0%, rgb(255,38,0) 56%);
  background-image: -moz-linear-gradient(bottom, rgb(153,39,22) 0%, rgb(255,38,0) 56%);
  background-image: -webkit-linear-gradient(bottom, rgb(153,39,22) 0%, rgb(255,38,0) 56%);
  background-image: -ms-linear-gradient(bottom, rgb(153,39,22) 0%, rgb(255,38,0) 56%);

  background-image: -webkit-gradient(
  	linear,
  	left bottom,
  	left top,
  	color-stop(0, rgb(153,39,22)),
  	color-stop(0.56, rgb(255,38,0))
  );
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.3);
  color: #FFFFFF;
  font-size: 15px;
  font-weight: bold;
  padding: 10px 60px;
  position: absolute;
  left: -120px;
  text-align: center;
  text-shadow: 0 1px 0 #000;
  top: 170px;
  z-index: 9999;
}
#merchantLink:hover{
  text-shadow: none;
}

#home-cart-tab{
  width:100px;
  position:absolute;
  top:0;
  right:30%;
  z-index: 1;
}
#bigLogoContainer{
  position:relative;
  margin:0 auto;
  width:423px;
  top:55px;
  z-index: 1;
  left:3px;
}
#bigLogoContainer h1{
  text-indent:-10000px;
}
#bigLogoContainer h2{
  text-align:center;
  font-size:140%;
  padding:2px 0 0;
}
#beautyShotLeft{
  position: absolute;
  left: 0;
  width: 30%;
}
#beautyShotLeft img{
  left:-7px;
}
#beautyShotRight{
  position: absolute;
  right: 0;
  width: 30%;
}
#beautyShotLeft img,#beautyShotRight img{
  position:relative;
  float:left;
  width:100%;
}
#home-top-model-select-frm{
  left: 10px;
  margin: 85px auto 0;
  position: relative;
  width: 606px;
  z-index: 2;
  top:7px;
}
#home-top-model-select-frm select{
  padding:3px 2.5%;
  width:95%;
}
#header-start-div{
  color:#E22;
  font-size:130%;
  letter-spacing:2px;
  text-rendering:optimizeLegibility;
  position:absolute;
  padding-left:49px;
  top:-36px;
  left:45px;
}
#header-start-div .red-arrow{
  position:absolute;
  left:-5px;
  top:8px;
}
#home h3{
  font-size: 170%;
  font-weight: normal;
  letter-spacing: 2px;
  margin: 12px 0 10px;
  text-align: center;
}
#main-reasons-tabs
{
  margin-top:20px;
}
#home .center-wrap{
    width:835px;
}
#main-reasons-tabs .dura-big,#main-reasons-tabs .fastener-big,#main-reasons-tabs .custom-big,#main-reasons-tabs .therm-big
{
  float:left;
  margin:10px 0 30px;
}
#main-reasons-tabs h4
{
  font-size:300%;
  font-weight:lighter;
  letter-spacing:1px;
}
#main-reasons-tabs .hs-tab-scroll-item p
{
  font-size:130%;
  letter-spacing:1px;
}
.hs-tab-scroll-item p em
{
  font-style:normal;
}
#home .hs-tab-scroll-item
{
  height:15em;
}
#gallery-scroll
{
  padding:10px;
}
#gallery-scroll a
{
  display:inline-block;
  vertical-align:top;
  border:1px solid #999;
  margin:4px;
}
#gallery-scroll a img
{
  border:none;
}
#load-more-gallery
{
  width:90%;
  margin:10px auto;
  border:1px solid #365283;
  display:block;
  padding:10px 0;
  text-align:center;
  background-color:#d3ddf0;
}
/*--------end home--------*/
