a{
  text-decoration:none;
  color:#29507D;
}
a:hover{
	color:#296DA7;
}

body {
	font-family:"Helvetica Neue",Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	font-size:small;  
	color:#3D3D3D;
	background-color:#EFEFEF;
	text-align:center;
}
ul{
  list-style-type:none;
}
.phone-number
{
  letter-spacing:1px;
}
/*--------messages--------*/
.acctMsg{
	background:#4277A6;
	color:black;
	display:none;
	left:57%;
	width:25%;
	padding:20px 30px;
	position:absolute;
	top:50px;
	z-index:203;
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:10px solid rgba(0,0,0,0.3);
}
.acctMsg a {
	color:black;
	text-decoration:underline;
	font-weight:bold;
}
.acctMsg a:hover{color:red;}
.acctMsg .xbox{
	position:absolute;
	top:-12px;
	left:-12px;
}
#grayout {    
	position:fixed;
	width:100%;    
	height:100%;
	top:0;
	left:0;
	background: transparent url('../../media/images/dimpx.png') repeat scroll 0 0;
	z-index:201;
	display:none;
}
.msg_wrap{
	width:100%;
	position:absolute;
	z-index: 202;
	display:none;
}         
.msg {
	background:none repeat scroll 0 0 #EFEFEF;
	font-size:16px;
	line-height:30px;
	margin:0 auto;
	padding:20px;
	-moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(0,0,0,0.3);
	position:relative;
	min-width:500px;
}  
.msg .xbox{
	position:absolute;
	top:-10px;
	left:-10px;
}           
.msg-hdr {
    color: #D7A32A;
    display: block;
    font-size: 150%;
    font-weight: bolder;
} 
.msg-hdr span{
    color: #9F9F9F;
    font-size: 0.7em;
    font-weight: normal;
}
.msg-hdr .btn1,.msg-hdr .btn2{
    display:inline;
    font-size: 70%;
    padding: 3px 10px;
}
/*--------end messages--------*/

/*--------frm1--------*/
.frm1 fieldset{
	border:none;
	margin:0 0 15px 0;
}	
.frm1 fieldset.ib{
		width: 47%;
	    padding-right: 3%;
}
.frm1 fieldset label{
	margin:0 0 3px 0;
	font-weight:bold;
	text-align:left;
	text-indent:10px;
}
.frm1 label{
	display: block;
}
.err{
	color: #FF3333;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}
.frm1 fieldset label .err,.frm1 label .err{
    float: right;
    max-width: 50%;
	position:relative;
	color: #FF3333;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
	text-align:right;
}
.frm1 fieldset label .err{top:-3px;}
.frm1 label .err{top:5px;}
.frm1 .tbl1 fieldset label .err{
	max-width:100% !important;
	top:-2px !important;
}
.frm1 fieldset .checkbox{
	float:left;
}
.frm1 fieldset input.checkbox{
	display: block;
    margin: 4px 6px;
    width: auto;
}
.frm1 h3,.frm1 h2,.lineh3{
	font-size:150%;
	padding-bottom:3px;
	border-bottom:1px solid #ccc;
	clear:both;
}
.frm1 h4{
	margin:10px 0;
	font-size:120%;
	padding-bottom:3px;
	border-bottom:1px solid #ccc;
}
.frm1 h3 .rad_btn,.lineh3 .rad_btn,.frm1 h2 .rad_btn{
	font-size:90%;font-weight:normal;padding:5px 10px;float:left;
}
.frm1 h2,.lineh3{
	font-size:200%;
	margin:15px 0 10px;
}
.frm1 h2 .rad_btn,.lineh3 .rad_btn{
	font-size:90%;
}
.frm1 fieldset span{
	color: #444;
    font-size: 13px;
    font-weight: normal;
	display: block;
}
.frm1 fieldset input,.frm1 fieldset textarea{
    -moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
    background: #f8f8f8;
    border-color: #e9e9e9;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    font-size: 1.4em;
    padding: 5px;
    width: 98%;
    border:1px solid rgba(0,0,0,0.3);
    font-family:inherit;
}
.frm1 select{
    padding:5px;
}
.frm1 .tbl1 fieldset input,.frm1 .tbl1 fieldset textarea{font-size:1em;}
/*--------end frm1--------*/

