@charset "UTF-8";
* {
    margin:0;
    padding:0;
}
a{text-decoration:none;color:#29507d;}
a:hover{
	color:#296da7;
}

body {
	font-family:"Helvetica Neue",Helvetica, Arial, sans-serif;
	margin:0;
	padding:0;
	font-size:small;  
	color:#3d3d3d;
	background-color:#efefef;
	text-align:center;
}
ul{
  list-style-type:none;
}
.phone-number
{
  letter-spacing:1px;
}
/*--------messages--------*/
.acctMsg{
	background:#4277a6;
	color:black;
	display:none;
	left:57%;
	width:25%;
	padding:20px 30px;
	position:absolute;
	top:50px;
	z-index:203;
	-moz-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-webkit-box-shadow:0 1px 2px rgba(0,0,0,0.5);
	box-shadow:0 1px 2px rgba(0,0,0,0.5);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(0,0,0,0.3);
}
.acctMsg a {
	color:black;
	text-decoration:underline;
	font-weight:bold;
}
.acctMsg a:hover{color:red;}
.acctMsg .xbox{
	position:absolute;
	top:-12px;
	left:-12px;
}
#grayout {    
	position:fixed;
	width:100%;    
	height:100%;
	top:0;
	left:0;
	background: transparent url('../../media/images/dimpx.png') repeat scroll 0 0;
	z-index:201;
	display:none;
}
.msg_wrap{
	width:100%;
	position:absolute;
	z-index: 202;
	display:none;
}         
.msg {
	background:none repeat scroll 0 0 #EFEFEF;
	font-size:16px;
	line-height:30px;
	margin:0 auto;
	padding:20px;
	-moz-box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-webkit-box-shadow:0 2px 2px rgba(0,0,0,0.4);
	box-shadow:0 2px 2px rgba(0,0,0,0.4);
	-moz-border-radius:2px;
	-webkit-border-radius:2px;
	border-radius:2px;
	border:1px solid rgba(0,0,0,0.3);
	position:relative;
	min-width:500px;
}  
.msg .xbox{
	position:absolute;
	top:-10px;
	left:-10px;
}           
.msg-hdr {
    color: #D7A32A;
    display: block;
    font-size: 150%;
    font-weight: bolder;
} 
.msg-hdr span{
    color: #9F9F9F;
    font-size: 0.7em;
    font-weight: normal;
}
.msg-hdr .btn1,.msg-hdr .btn2{
    display:inline;
    font-size: 70%;
    padding: 3px 10px;
}
/*--------end messages--------*/

/*--------frm1--------*/
.frm1 fieldset{
	border:none;
	margin:0 0 15px 0;
}	
.frm1 fieldset.ib{
		width: 47%;
	    padding-right: 3%;
}
.frm1 fieldset label{
	margin:0 0 3px 0;
	font-weight:bold;
	text-align:left;
	text-indent:10px;
}
.frm1 label{
	display: block;
}
.err{
	color: #FF3333;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
}
.frm1 fieldset label .err,.frm1 label .err{
    float: right;
    max-width: 50%;
	position:relative;
	color: #FF3333;
    font-size: 14px;
    font-weight: bold;
    line-height: 14px;
	text-align:right;
}
.frm1 fieldset label .err{top:-3px;}
.frm1 label .err{top:5px;}
.frm1 .tbl1 fieldset label .err{
	max-width:100% !important;
	top:-2px !important;
}
.frm1 fieldset .checkbox{
	float:left;
}
.frm1 fieldset input.checkbox{
	display: block;
    margin: 4px 6px;
    width: auto;
}
.frm1 h3,.frm1 h2,.lineh3{
	font-size:150%;
	padding-bottom:3px;
	border-bottom:1px solid #ccc;
	clear:both;
}
.frm1 h4{
	margin:10px 0;
	font-size:120%;
	padding-bottom:3px;
	border-bottom:1px solid #ccc;
}
.frm1 h3 .rad_btn,.lineh3 .rad_btn,.frm1 h2 .rad_btn{
	font-size:90%;font-weight:normal;padding:5px 10px;float:left;
}
.frm1 h2,.lineh3{
	font-size:200%;
	margin:15px 0 10px;
}
.frm1 h2 .rad_btn,.lineh3 .rad_btn{
	font-size:90%;
}
.frm1 fieldset span{
	color: #444;
    font-size: 13px;
    font-weight: normal;
	display: block;
}
.frm1 fieldset input,.frm1 fieldset textarea{
    -moz-border-radius: 5px 5px 5px 5px;
	-webkit-border-radius: 5px 5px 5px 5px;
	border-radius:5px 5px 5px 5px;
    background: #f8f8f8;
    border-color: #e9e9e9;
    border-style: none solid solid none;
    border-width: medium 1px 1px medium;
    font-size: 1.4em;
    padding: 5px;
    width: 98%;
    border:1px solid rgba(0,0,0,0.3);
    font-family:inherit;
}
.frm1 select{
    padding:5px;
}
.frm1 .tbl1 fieldset input,.frm1 .tbl1 fieldset textarea{font-size:1em;}
/*--------end frm1--------*/

/*--------widths--------*/
.w100{width:100% !important;}
.w90,#home-page-model-select-frm fieldset select{width:90% !important;}
.w80,#home-page-model-select-frm{width:80% !important;}
.w75{width:75% !important;}
.w70{width:70% !important;}
.w60
{width:60% !important;}
.w49{width:49% !important;}
.w55{width:55% !important;}
.w50{width:50% !important;}
.w45{width:45% !important;}
.w40{width:40% !important;}
.w35{width:35% !important;}
.w30,
#home-top-model-select-frm fieldset,#home-page-model-select-frm fieldset
{width:30% !important;}
.w25{width:25% !important;}
.w20{width:20% !important;}
.w10{width:10% !important;}
.w15{width:15% !important;}
.w7{width:7% !important;}
.w5{width:5% !important;}
/*--------end widths--------*/
/*--------margins--------*/
.mbtn{margin-bottom:10px;}
.mttn{margin-top:10px;} 
.mltn{margin-left:10px;}
.mrtn{margin-right:10px;}
.mt20{margin-top:20px;}
.mb20{margin-bottom:20px;}
.ml20{margin-left:20px;}
.mr20{margin-right:20px;}
.bctr,#home-page-model-select-frm
{margin-left:auto;margin-right:auto;}
/*--------end margins--------*/
/*--------display/position--------*/
.hide{display:none !important;}
.ib,
#home-top-model-select-frm fieldset,#home-page-model-select-frm fieldset,.hs-tab-scroll-item,#footer-ul,.hs-tab-ul,#footer-ul li,#footer-ul li a
{display:inline-block;}
.clearfix{clear:both;}
.fl{float:left;}
.fr{float:right;}
.pa{position:absolute;}
.pr{position:relative;}
.pf{position:fixed;}
.oh{overflow:hidden;}
/*--------end display--------*/
/*--------text--------*/
.white-ts,#bigLogoContainer h2,#home h3,.hs-tab-ul li a
{
  text-shadow: #FFF 0 1px 0;
}
.tctr{text-align:center;}
.trt{text-align:right;}
.tlt{text-align:left;}
.bold{font-weight:bold;}
.gray{color:#898989;}
.text-shadow{text-shadow:1px 1px 1px rgba(0,0,0,0.8);}
/*--------end text--------*/
/*--------font sizes--------*/
#cart-count
{
  font-size:85%;
}

/*--------end font sizes--------*/
/*--------table--------*/
table
{
  border-spacing:0;
  border-collapse:collapse;
  text-align:left;
}
thead th
{
  margin:0;
  padding:0;
}
thead th span, thead th a
{
  display:block;
  padding:7px 0;
  font-weight:100;
  letter-spacing:1px;
  font-size:130%;
  color:#FFFFFF;
  text-shadow: #000 0 1px 0;
}
thead th a:hover
{
  color:#dfeaee;
}
thead th:first-child
{
  -webkit-border-top-left-radius: 7px;
  -webkit-border-bottom-left-radius: 7px;
  -moz-border-radius-topleft: 7px;
  -moz-border-radius-bottomleft: 7px;
  border-top-left-radius: 7px;
  border-bottom-left-radius: 7px;
  text-indent:12px;
}
thead th:last-child
{
  -webkit-border-top-right-radius: 7px;
  -webkit-border-bottom-right-radius: 7px;
  -moz-border-radius-topright: 7px;
  -moz-border-radius-bottomright: 7px;
  border-top-right-radius: 7px;
  border-bottom-right-radius: 7px;
}
tbody tr
{
  border-bottom:2px solid #EFEFEF;
}
td:first-child,thead th:first-child
{
  text-indent:12px;
}
.subtotal-box
{
  width:25%;
  float:right;
  margin-top:5px;
}
.subtotal-box .left-box
{
  text-align:right;
  width:60%;
}
.subtotal-title,.subtotal-value
{
  font-size:130%;
}
.subtotal-box .right-box
{
  width:40%;
}
.total-cell
{
  width:10%;
}
.asterix-cell
{
  width:11.2em;
}
.remove-cell
{
  width:10%;
}
.total-cell,.price-cell,.quant-cell,.asterix-cell,.remove-cell
{
  text-align:center;
}
.subtotal-box .left-box,.subtotal-box .right-box
{
  display:inline-block;
  vertical-align:middle;
}
.removeCartItem
{
  margin:0 auto;
}
.aux-product-tr
{
  display:none;
}
/*--------end table--------*/
/*--------buttons--------*/
.btn1,.btn2,#home-cart-tab,#catalog-search-sbt,thead th,.checkout-button,#faq-no-luck, #about-wrap a,#contact-by-sbt
{
  background-color:#296ca6;
  background-image: linear-gradient(bottom, rgb(41,80,125) -1%, rgb(41,109,168) 71%);
  background-image: -o-linear-gradient(bottom, rgb(41,80,125) -1%, rgb(41,109,168) 71%);
  background-image: -moz-linear-gradient(bottom, rgb(41,80,125) -1%, rgb(41,109,168) 71%);
  background-image: -webkit-linear-gradient(bottom, rgb(41,80,125) -1%, rgb(41,109,168) 71%);
  background-image: -ms-linear-gradient(bottom, rgb(41,80,125) -1%, rgb(41,109,168) 71%);

}
.btn1,.btn2,#home-cart-tab,#catalog-search-sbt,.checkout-button,#faq-no-luck,#about-wrap a,#contact-by-sbt
{
    color: #EEEEEE;
    display: block;
    font-size: 20px;
    padding: 8px 10px;
    text-align: center;
    -moz-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    -webkit-box-shadow:0 2px 2px rgba(0,0,0,0.2);
    box-shadow:0 2px 2px rgba(0,0,0,0.2);
    cursor:pointer;
    font-weight:lighter;
    letter-spacing:2px;
    border:none;
    font-family:inherit;
    text-shadow: #000 0 1px 1px;
}
.btn1:hover,.btn2:hover,#home-cart-tab:hover,#catalog-search-sbt:hover,.checkout-button:hover,#faq-no-luck:hover,#about-wrap a:hover,
#contact-by-sbt:hover
{
    color:#FFFFFF;
    background-color:#4277a6;
    background-image: linear-gradient(bottom, rgb(41,109,168) 0%, rgb(41,80,125) 71%);
    background-image: -o-linear-gradient(bottom, rgb(41,109,168) 0%, rgb(41,80,125) 71%);
    background-image: -moz-linear-gradient(bottom, rgb(41,109,168) 0%, rgb(41,80,125) 71%);
    background-image: -webkit-linear-gradient(bottom, rgb(41,109,168) 0%, rgb(41,80,125) 71%);
    background-image: -ms-linear-gradient(bottom, rgb(41,109,168) 0%, rgb(41,80,125) 71%);
    -moz-box-shadow:0 0 1px rgba(0,0,0,0.5);
    -webkit-box-shadow:0 0 1px rgba(0,0,0,0.5);
    box-shadow:0 0 1px rgba(0,0,0,0.5);
}
.btn1:active,.btn2:active,#home-cart-tab:active,#catalog-search-sbt:active,.checkout-button:active,#faq-no-luck:active,#about-wrap a:active,
#contact-by-sbt:active
{
    background-position:0 22px;
    -moz-box-shadow:0 0 0 rgba(0,0,0,0);
    -webkit-box-shadow:0 0 0 rgba(0,0,0,0);
    box-shadow:0 0 0 rgba(0,0,0,0);
}
.btn2
{
    -moz-border-radius:20px;
    -webkit-border-radius:20px;
    border-radius:20px;
}

/*--------end buttons--------*/



/**
 * PAYPAL WPS ONLY
 * 
 * Uncomment for use with web standards payments
 * 
 *
 .paypal-logo{
 background: url("../media/images/paypal_small.png") no-repeat scroll 0 0 transparent;
 display: block;
 height: 29px;
 margin: 8px auto 0;
 overflow: hidden;
 text-indent: -1000px;
 width: 100px;
 }
 a:hover .paypal-logo,.paypal-logo.hover{
 background-position:0px -29px;
 }
 #paypal-loader{
 background:url('../../media/images/paypal-loader.gif') no-repeat;
 width:220px;
 height:19px;
 }
*/
/*--------page divisions--------*/
.center-wrap
{
  margin-left:auto;
  margin-right:auto;
}
.white-page
{
  background:url('../../media/images/page_bg.jpg') repeat-x 0 bottom #FFFFFF;
  padding-bottom:;
  border-top:1px solid #cccccc;
  text-align:left;
  overflow:hidden;
  min-height:200px;
  position:relative;
  -moz-box-shadow:0px 8px 14px rgba(0,0,0,0.1);
  -webkit-box-shadow:0px 8px 14px rgba(0,0,0,0.1);
  box-shadow:0px 8px 14px rgba(0,0,0,0.1);
}

/*--------end page divisions--------*/
.hs-tabs
{
  position:relative;
}
.hs-tabs .next-btn, .hs-tabs .prev-btn
{
  position:absolute;
  top:43%;
}
.hs-tabs .next-btn
{
  right:-20px;
}
.hs-tabs .prev-btn
{
  left:-20px;
}
.hs-tab-ul li{
  position:relative;
  padding:10px 1px;
  height:3em;
  z-index: 1;
}
.hs-tab-ul li.sel,.hs-tab-ul li:hover{
  border-left:1px solid rgba(0,0,0,0.2);
  border-right:1px solid rgba(0,0,0,0.2);
  border-bottom:1px solid #f3f3f3;
  background-image: linear-gradient(bottom, #FBFBFB 46%, #F2F2F2 100%);
  background-image: -o-linear-gradient(bottom, #FBFBFB 46%, #F2F2F2 100%);
  background-image: -moz-linear-gradient(bottom, #FBFBFB 46%, #F2F2F2 100%);
  background-image: -webkit-linear-gradient(bottom, #FBFBFB 46%, #F2F2F2 100%);
  background-image: -ms-linear-gradient(bottom, #FBFBFB 46%, #F2F2F2 100%);
  padding:10px 0 9px;
  bottom:-1px;
}
.hs-tab-ul li,.hs-tab-ul li span,.hs-tab-ul li a{
  display:inline-block;
  vertical-align:middle;
  font-size:115%;
  letter-spacing:1px;
}
.hs-tab-ul li a span:first-child{
  margin:0 5px 0 10px;
  padding:0;
}
.hs-tab-ul li span{
  padding:0 15px 0 5px;
  margin:0;
}
.hs-tab-scroll
{
  position:relative;
  left:0;
  top:0;
  
}
.hs-tab-scroll-item
{
  width:86%;
  padding:3em 7% 1em;
}
.hs-tab-scroll-item .disclaimer
{
  color:#444;
  font-size:85%;
  font-weight:lighter;
  letter-spacing:1px;
}

#footer-ul
{
  border-top:1px solid #365283;
  border-bottom:1px solid #365283;
  margin-bottom:10px;
  min-width:800px;
}
#footer-ul li a
{
  padding:10px 20px;
}

/*--------sprite--------*/

.icon-faq,.icon-cart,.icon-feedback,.icon-contact,.icon-about,.small-logo,.icon-catalog,.icon-pos,
.icon-orders,.icon-price,.xbox,.xbox:hover,.xbox:active,.next-btn,.next-btn:hover,.next-btn:active,.prev-btn,
.prev-btn:hover,.prev-btn:active,.dura,.fastener,.custom,.therm,.dura-big,.fastener-big,.custom-big,
.therm-big,.big-logo,.page-shadow,.header-hl,.red-arrow,.marker-up,.marker-down,.blue-marker-up,.blue-marker-down
{
	display: block;
	background-repeat: no-repeat;
	background-image: url('../../media/images/mainsprite.png');
}
.icon-faq
{
	background-position:0px 0px;
	width:52px;
	height:52px;
}
.icon-cart
{
	background-position:-52px 0px;
	width:46px;
	height:46px;
}
.icon-feedback
{
	background-position:-106px 0px;
	width:50px;
	height:50px;
}
.icon-contact
{
	background-position:-156px 0px;
	width:45px;
	height:50px;
}
.icon-about
{
	background-position:-201px 0px;
	width:52px;
	height:51px;
}
.small-logo
{
	background-position:-253px 0px;
	width:374px;
	height:70px;
	text-indent:-10000px;
}
.icon-catalog
{
	background-position:-627px 0px;
	width:48px;
	height:41px;
}
.icon-pos
{
	background-position:-675px 0px;
	width:61px;
	height:56px;
}
.icon-orders
{
	background-position:-736px 0px;
	width:42px;
	height:48px;
}
.icon-price
{
	background-position:-778px 0px;
	width:48px;
	height:49px;
}
.xbox
{
	background-position:-826px 0px;
	width:28px;
	height:28px;
}
.xbox:hover
{
	background-position:-854px 0px;
	width:28px;
	height:28px;
}
.xbox:active
{
	background-position:-882px 0px;
	width:28px;
	height:28px;
}
.next-btn
{
	background-position:-910px 0px;
	width:32px;
	height:31px;
}
.next-btn:hover
{
	background-position:-942px 0px;
	width:32px;
	height:31px;
}
.next-btn:active
{
	background-position:-974px 0px;
	width:32px;
	height:31px;
}
.prev-btn
{
	background-position:0px -70px;
	width:32px;
	height:31px;
}
.prev-btn:hover
{
	background-position:-32px -70px;
	width:32px;
	height:31px;
}
.prev-btn:active
{
	background-position:-64px -70px;
	width:32px;
	height:31px;
}
.dura
{
	background-position:-96px -70px;
	width:47px;
	height:55px;
}
.fastener
{
	background-position:-143px -70px;
	width:50px;
	height:51px;
}
.custom
{
	background-position:-193px -70px;
	width:68px;
	height:48px;
}
.therm
{
	background-position:-261px -70px;
	width:36px;
	height:50px;
}
.dura-big
{
	background-position:-297px -70px;
	width:176px;
	height:151px;
}
.fastener-big
{
	background-position:-473px -70px;
	width:156px;
	height:130px;
}
.custom-big
{
	background-position:-629px -70px;
	width:205px;
	height:88px;
}
.therm-big
{
	background-position:-834px -70px;
	width:123px;
	height:165px;
}
.big-logo{
  background-position:-291px -249px;
  width:423px;
  height:77px;
}
.page-shadow{
  width:733px;
  height:14px;
  background-position:-291px -235px;
  margin:0 auto 5px;
}
.header-hl{
  width:291px;
  height:123px;
  background-position:0px -133px;
}
.red-arrow{
  width:44px;
  height:28px;
  background-position:0px -256px;
}
.marker-up,.marker-down
{
  display: inline-block;
  height: 8px;
  margin-left: 7px;
  padding: 0;
  width: 14px;
}
.marker-up
{
  background-position:-833px -30px;
}
.marker-down
{
  background-position:-847px -30px;
}
.marker-up:hover,a:hover .marker-up
{
  background-position:-861px -30px;
}
.marker-down:hover,a:hover .marker-down
{
  background-position:-875px -30px;
}
.blue-marker-down,.blue-marker-up
{
  width:11px;
  height:6px;
  display:inline-block;
  margin:0 4px;
}
.blue-marker-up
{
  background-position:-889px -31px;
}
.blue-marker-down
{
  background-position:-900px -31px;
}
.blue-marker-up:hover,a:hover .blue-marker-up
{
  background-position:-911px -31px;
}
.blue-marker-down:hover,a:hover .blue-marker-down
{
  background-position:-922px -31px;
}
/*--------end sprite--------*/





