form 
{

}
fieldset
{

}

fieldset legend
{
   display:none;
}
fieldset p
{

}
fieldset p.input-error input, fieldset p.input-error select, fieldset p.input-error textarea
{
   -webkit-box-shadow: 0px 0px 3px 0px rgba(225, 10, 10, 0.7);
   box-shadow: 0px 0px 3px 0px rgba(225, 10, 10, 0.7);
}
fieldset span.inp_note
{
    width: 90%;
    color: #727272;
    margin: -1em auto 1em;
    display: block;
    font-size: 89%;
    letter-spacing: 0.1em;
}
label,input
{
   text-align:left;
}
label
{
   display:inline-block;
   width:44%;
   margin:0 2% 5px 4%;
   text-align:left;
}
label.err
{
   color: #CE1212;
   margin-bottom: 5px;
   text-align: right;
   width: 46%;
   margin:0 4% 5px 0;
   font-weight:bold;
}
input, textarea
{
   padding:0.5em;
   display:block;
   margin:0 auto 15px;
   border-radius:0.5em;
   border:1px solid #AAAAAA;
   font-family:inherit;
   font-size:120%;
   background: #FFF; /* Old browsers */
   box-shadow:inset 0 1px 2px rgba(0,0,0,0.1),inset 0 4px 15px rgba(0,0,0,0.05),0 2px 0 rgba(255,255,255,1);
   outline:none;
}
input[type="text"], input[type="password"],textarea
{
    width:90%;
}
button
{
   margin:1em 0;
}
form > button
{
    margin:1em auto;
    min-width:25%;
}
form div.blandUpload-container
{
    width:90%;
    margin:0 auto 15px;
}